name: CI
'on':
  push: null
  pull_request: null
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NULL_COMMIT: '0000000000000000000000000000000000000000'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r format_checker/requirements.txt
      - name: Run format checker on new branch
        if: >-
          ${{github.event_name == 'push' && github.event.before ==
          env.NULL_COMMIT}}
        run: >
          python format_checker/main.py ${{github.event.before}}
          ${{github.event.commits[0].id}} ${{github.event.after}}
      - name: Run format checker on pull request
        if: '${{github.event_name == ''pull_request''}}'
        run: >
          python format_checker/main.py ${{github.event.pull_request.base.sha}}
          ${{github.event.pull_request.head.sha}}
      - name: Run format checker on push
        if: >-
          ${{github.event_name == 'push' && github.event.before !=
          env.NULL_COMMIT}}
        run: >
          python format_checker/main.py ${{github.event.before}}
          ${{github.event.after}}
