--- 
jobs: 
  build: 
    env: 
      NULL_COMMIT: "0000000000000000000000000000000000000000"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0
      - 
        name: "Install Python 3"
        uses: actions/setup-python@v2
        with: 
          python-version: "3.9.4"
      - 
        name: "Install dependencies"
        run: |
            python -m pip install --upgrade pip
            pip install -r format_checker/requirements.txt
      - 
        if: "${{github.event_name == 'push' && github.event.before == env.NULL_COMMIT}}"
        name: "Run format checker on new branch"
        run: "python format_checker/main.py ${{github.event.before}} ${{github.event.commits[0].id}} ${{github.event.after}}"
      - 
        if: "${{github.event_name == 'pull_request'}}"
        name: "Run format checker on pull request"
        run: "python format_checker/main.py ${{github.event.pull_request.base.sha}} ${{github.event.pull_request.head.sha}}"
      - 
        if: "${{github.event_name == 'push' && github.event.before != env.NULL_COMMIT}}"
        name: "Run format checker on push"
        run: "python format_checker/main.py ${{github.event.before}} ${{github.event.after}}"
name: CI
true: 
  pull_request: ~
  push: ~
  workflow_dispatch: ~